USE [master]
GO
/****** Object:  Database [SalesDB]    Script Date: 10-06-2026 18:41:25 ******/
CREATE DATABASE [SalesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SalesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SalesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SalesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesDB]
GO
/****** Object:  Schema [Sales]    Script Date: 10-06-2026 18:41:26 ******/
CREATE SCHEMA [Sales]
GO
/****** Object:  Table [Sales].[Customers]    Script Date: 10-06-2026 18:41:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Customers](
	[CustomerID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Score] [int] NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Employees]    Script Date: 10-06-2026 18:41:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Employees](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[BirthDate] [date] NULL,
	[Gender] [char](1) NULL,
	[Salary] [int] NULL,
	[ManagerID] [int] NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Orders]    Script Date: 10-06-2026 18:41:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Orders](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[CustomerID] [int] NULL,
	[SalesPersonID] [int] NULL,
	[OrderDate] [date] NULL,
	[ShipDate] [date] NULL,
	[OrderStatus] [varchar](50) NULL,
	[ShipAddress] [varchar](255) NULL,
	[BillAddress] [varchar](255) NULL,
	[Quantity] [int] NULL,
	[Sales] [int] NULL,
	[CreationTime] [datetime2](7) NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[OrdersArchive]    Script Date: 10-06-2026 18:41:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[OrdersArchive](
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[CustomerID] [int] NULL,
	[SalesPersonID] [int] NULL,
	[OrderDate] [date] NULL,
	[ShipDate] [date] NULL,
	[OrderStatus] [varchar](50) NULL,
	[ShipAddress] [varchar](255) NULL,
	[BillAddress] [varchar](255) NULL,
	[Quantity] [int] NULL,
	[Sales] [int] NULL,
	[CreationTime] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Sales].[Products]    Script Date: 10-06-2026 18:41:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sales].[Products](
	[ProductID] [int] NOT NULL,
	[Product] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
